---
layout: welcome
title: 每天进步一点点
---
{% include JB/setup %}

[代码地址](https://github.com/anaer/anaer.github.io/)  

<hr>

<ul class="posts">
  {% for post in paginator.posts %}
	<li class="Item">
		<div>
			<a style="width:250px;text-align:left;display:inline-block;" href="{{ BASE_PATH }}{{ post.url }}/">{{ post.title }}</a>
		</div>
		<div>
			<span>{{ post.date | date:"%Y-%m-%d" }}</span> 
    {% unless post.tags == empty %}
      {% assign tags_list = post.tags %}
      {% for tag in tags_list %}
      <span class="tag_box inline">
    	<a  href="{{ BASE_PATH }}{{ site.JB.tags_path }}#{{ tag }}-ref">{{ tag }} <span>{{ site.tags[tag].size }}</span></a>
      </span>
      {% endfor %}
    {% endunless %}
		</div>
    </li>
  {% endfor %}
</ul>

<!--
2014-09-09
  1. 不显示总数
2014-08-29
	1. 固定链接宽度
-->
