---
layout: welcome
title: 每天进步一点点
---
{% include JB/setup %}

[代码地址](https://github.com/anaer/anaer.github.io/)  

<hr>

<ul class="posts">
  {% for post in paginator.posts %}
	<li class="Item">
		<div>
			<a style="width:250px;text-align:left;display:inline-block;" href="{{ BASE_PATH }}{{ post.url }}/">{{ post.title }}</a>
		</div>
		<div>
			<span>{{ post.date | date:"%Y-%m-%d" }}</span> 
    {% unless post.tags == empty %}
      {% assign tags_list = post.tags %}
      {% for tag in tags_list %}
      <span class="tag_box inline">
    	<a  href="{{ BASE_PATH }}{{ site.JB.tags_path }}#{{ tag }}-ref">{{ tag }} <span>{{ site.tags[tag].size }}</span></a>
      </span>
      {% endfor %}
    {% endunless %}
		</div>
    </li>
  {% endfor %}
  
  
      {% for page in (1..paginator.total_pages) %}  
        {% if page == 1 %}  
            <a href="/index.html">{{ page }}</a>  
        {% else %}  
            <a href="{{ site.paginate_path | replace: ':num',page }}">{{ page }}</a>  
        {% endif %}  
    {% endfor %}  
    
      {% if paginator.total_pages > 1 %}  
        {% if paginator.previous_page %}  
            <a href="{{ paginator.previous_page_path }}">上一页</a>  
        {% endif %}  
          
        {% if paginator.next_page %}  
            <a href="{{ paginator.next_page_path }}">下一页</a>  
        {% endif %}  
    {% endif %}  
</ul>
