a {
    color: #F90;
    text-decoration: none;
}

.tag_box a {
    display: inline-block;
    padding: 4px 10px;
    line-height: 100%;
    margin-right: 10px;
    border: 1px solid #EEE;
    background-color: #EEE;
    border-radius: 10px;
}

.navbar {
    margin-bottom: 20px;
    right: 140px;
    position: absolute;
}

p.skills {
    float: left;
    margin: 0px;
    color: #008000;
}

.page-header {
    padding: 20px 20px 25px !important;
}

.Item{
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #FFF;
    border: 1px solid #DDD;
}

ul.posts{
    margin: 0px 0px 0px 0px;
}
