a{
  color:red;
}

.navbar {
    margin-bottom: 20px;
    right: 140px;
    position: absolute;
}

p.skills {
    float: left;
    margin: 0px;
    color: #008000;
}

.page-header {
    padding: 20px 20px 25px !important;
}

.Item{
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #FFF;
    border: 1px solid #DDD;
}
