<header>
  <h1>{{ page.title }}</h1>
  <p class="lead">{{page.tagline}}</p>
</header>

<script>

$(function() {
        $.ajax({
            url: "search.xml",
            dataType: "xml",
            success: function( xmlResponse ) {
                var data = $( "article", xmlResponse ).map(function() {
                    return {
                        value: $( "title", this ).text() + ", " +
                            ( $.trim( $( "date", this ).text() ) ),
                        desc: $("description", this).text(),
                        url: $("url", this).text()
                    };
                }).get();

                $( "#J_search" ).autocomplete({
                    source: data,
                    minLength: 0,
                    select: function( event, ui ) {
                        window.location.href = ui.item.url;
                    }
                });

                $( "#datepicker" ).datepicker();
            }
        });
    });
    
</script>

<div class="row">
  <div class="span8">
    {{ content }}
    <br />
    <ul class="breadcrumb">
        <li><a href="/">Home</a> <span class="divider">/</span></li>
        <li><a href="/archive.html">Archive</a> <span class="divider">/</span></li>
        <li><a href="/categories.html">Category</a> <span class="divider">/</span></li>
        <li><a href="/tags.html">Tag</a> <span class="divider">/</span></li>
  </ul>
  </div>

  <input id="J_search" placeholder="Simple Search"/>

  <div class="span4">
    <hr>
    <h4>日历</h4>
    <div id="datepicker" class="tag_box"></div>
  </div>

  <!-- inline -->
  <div class="span4">
	  <hr>
	  <h4> 文章分类 </h4>
    <ul class="tag_box">
      {% assign categories_list = site.categories %}
      {% include JB/categories_list %}
    </ul>
  </div>
</div>
